/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 450px;
  transition: transform 0.3s;
}

.img-container img:hover {
  transform: scale(1.2);
}

iframe {
  margin-bottom: 15px;
}
